<!DOCTYPE html>
<html lang="en">
  <%- include ("partials/head") %>
  <body class="bg-slate-950">
    <div class="fixed top-4 left-1/2 -translate-x-1/2">
      <a
        class="transition-all animate-float glow-effect inline-block rounded-full bg-gradient-to-r from-sky-600 to-slate-600 text-white focus:outline-hidden"
        href="/"
      >
        <span
          class="block rounded-full px-3.5 md:px-5 py-2 text-glow text-sm font-medium"
        >
          <strong class="md:mr-2">â†</strong> Back to messages
        </span>
      </a>
    </div>

    <!-- prettier-ignore -->
    <div class="max-w-md mx-auto my-20">
      <%- include ("partials/card") %>
    </div>

    <%- include ("partials/toast") %>
  </body>
</html>
